<!-- 
/****************************************************************************************** 
* ITE5315 – Assignment 2 
* I declare that this assignment is my own work in accordance with Humber Academic Policy. 
* No part of this assignment has been copied manually or electronically from any other source 
* (including web sites) or distributed to other students.  
*
* Name: ___SONALI___ Student ID: ____N01689474____ Date: ______OCT 24, 2025______  
*
*******************************************************************************************/  -->

<header>
  <div class="header-inner">
    <h2>Airbnb Dashboard</h2>
    <div class="hamburger" id="hamburger">&#9776;</div>
  </div>
  <nav id="navLinks">
    <a href="/">Home</a>
    <a href="/viewData">View Data</a>
    <a href="/searchName">Search by Name</a>
    <a href="/searchID">Search by ID</a>
    <a href="/viewData/price">Search by Price</a>
    <a href="/addAirbnb">Add Property</a>
    <a href="/updateAirbnb">Update Property</a>
    <a href="/deleteAirbnb">Delete Property</a>
  </nav>
</header>
