<h2>Add New Airbnb Property</h2>

<form method="POST" action="/addAirbnb">
  <input type="text" name="id" placeholder="Property ID" required>
  <input type="text" name="NAME" placeholder="Property Name" required>
  <input type="text" name="neighbourhood" placeholder="Neighbourhood">
  <input type="text" name="country" placeholder="Country">
  <input type="text" name="instant_bookable" placeholder="Instant Bookable (Yes/No)">
  <input type="text" name="property_type" placeholder="Property Type">
  <input type="text" name="price" placeholder="Price">
  <input type="text" name="thumbnail" placeholder="Thumbnail URL">
  <button type="submit">Add Property</button>
</form>
